<div id="tupleList">
    <h2>Customers</h2>

    <table>
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.customerID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="dbFunctions">
        <div id="insert">
            <h3>Add Customer</h3>
            <form id="addCustomer" method="POST" action="/addCustomer">
                <table>
                    <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input type="text" id="name" name="name"></td>
                    </tr>
                    <tr>
                        <td><label for="username">Username:</label></td>
                        <td><input type="text" id="username" name="username"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input type="email" id="email" name="email"></td>
                    </tr>
                    <tr>
                        <td><input id="submitBtn" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="update">
            <h3>Update Customer</h3>
            <form id="updateCustomer" method="POST" action="/updateCustomer">
                <table>
                    <tr>
                        <td><label for="customerID">Select a Customer:</label></td>
                        <td><select name="customerID" id="updateCustomerSelect">
                            {{#each data}}
                            <option value="{{this.customerID}}">{{this.name}}</option>
                            {{/each}}
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input type="text" id="name" name="name"></td>
                    </tr>
                    <tr>
                        <td><label for="username">Username:</label></td>
                        <td><input type="text" id="username" name="username"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input type="email" id="email" name="email"></td>
                    </tr>
                    <tr>
                        <td><input id="submitBtn" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="delete">
            <h3>Delete Customer</h3>
            <form id="deleteCustomer">
                <table>
                    <tr>
                        <td><label for="customerID">Select a Customer:</label></td>
                        <td><select name="customerID" id="updateCustomerSelect">
                            <option value="customer">Select a Customer</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><input id="submitBtn" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>