<div id="tupleList">
    <h2>Studios</h2>

    <table>
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.studioID}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="dbFunctions">
    <div id="insert">
        <h3>Add Studio</h3>
        <form id="addCustomer" method="POST" action="/addStudio">
            <table>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name" required>*required</td>
                    
                </tr>
                <tr>
                    <td><input id="submitBtn" type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="delete">
        <h3>Delete Studio</h3>
        <form id="deleteStudio" method="POST" action="/deleteStudio">
            <table>
                <tr>
                    <td><label for="studioID">Select a Studio:</label></td>
                    <td><select name="studioID" id="deleteStudioSelect">
                        {{#each data}}
                        <option value="{{this.studioID}}">{{this.name}}</option>
                        {{/each}}
                    </select></td>
                </tr>
                <tr>
                    <td><input id="submitBtn" type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
</div>